<div class="container-fluid">
    <div class="row">
        <aside class="barra-lateral col-12 col-sm-auto p-0">
            <div class="logo borderBlue">
                <h2 class="py-4 m-0">Dashboard</h2>
            </div>
            <!-- Aprendisaje: Aqui con d-flex los elementos de bloque 
            que estan dentro pasan a elementos inline-block, pero con
            d-sm-block es como sobreescribir el estilo y en lugar de ser
            inline-block pasan a tipo bloque-->
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/house-door-fill/ -->
                    <i class="bi bi-house-door-fill"></i>
                    Inicio
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/file-earmark-text-fill/ -->
                    <i class="bi bi-file-earmark-text-fill"></i>
                    Entradas
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/people-fill/ -->
                    <i class="bi bi-people-fill"></i>
                    Usuarios
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/gear-fill/ -->
                    <i class="bi bi-gear-fill"></i>
                    Configuracion
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/box-arrow-right/ -->
                    <i class="bi bi-box-arrow-right"></i>
                    Salir
                 </a>
            </nav>
        </aside>
        <main class="main col">
            <div class="row">
                <!-- Aprendisaje: El main lo vamos a separar
                en varios Widgets que es la entrada, estadistica
                y comentarios y la razon de separalo es porque
                cada widget va a tener ciertos estilos, es decir
                ciertos espaciados, etc. -->
                <div class="columna col-7">
                    <div class="widget nueva_entrada">
                        <h3 class="titulo">Nueva Entrada</h3>
                        <form action="">
                            <input type="text" placeholder="Titulo de la entrada">
                            <textarea>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque.</textarea>
                            <div class="d-flex justify-content-end">
                                <button>
                                    <i class="bi bi-pencil-fill"></i>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="columna col-5">
                    
                </div>
            </div>
        </main>
    </div>
</div>