<div class="container-fluid">
    <div class="row">
        <aside class="barra-lateral col-12 col-sm-auto p-0">
            <div class="logo borderBlue">
                <h2 class="py-4 m-0">Dashboard</h2>
            </div>
            <!-- Aprendisaje: Aqui con d-flex los elementos de bloque 
            que estan dentro pasan a elementos inline-block, pero con
            d-sm-block es como sobreescribir el estilo y en lugar de ser
            inline-block pasan a tipo bloque-->
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/house-door-fill/ -->
                    <i class="bi bi-house-door-fill"></i>
                    Inicio
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/file-earmark-text-fill/ -->
                    <i class="bi bi-file-earmark-text-fill"></i>
                    Entradas
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/people-fill/ -->
                    <i class="bi bi-people-fill"></i>
                    Usuarios
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/gear-fill/ -->
                    <i class="bi bi-gear-fill"></i>
                    Configuracion
                 </a>
                 <a href="#">
                    <!-- https://icons.getbootstrap.com/icons/box-arrow-right/ -->
                    <i class="bi bi-box-arrow-right"></i>
                    Salir
                 </a>
            </nav>
        </aside>
        <main class="main col">
            <div class="row">
                <!-- Aprendisaje: El main lo vamos a separar
                en varios Widgets que es la entrada, estadistica
                y comentarios y la razon de separalo es porque
                cada widget va a tener ciertos estilos, es decir
                ciertos espaciados, etc. -->
                <div class="columna col-12 col-lg-7">
                    <div class="widget nueva_entrada">
                        <h3 class="titulo">Nueva Entrada</h3>
                        <form action="">
                            <input class="" type="text" placeholder="Titulo de la entrada">
                            <textarea placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, neque."></textarea>
                            <div class="d-flex justify-content-end">
                                <button>
                                    <i class="bi bi-pencil-fill"></i>
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="columna col-12 col-lg-5">
                    <!-- Widget estadisticas -->
                    <div class="widget estadisticas">
                        <h3 class="titulo">Estadisticas</h3>
                        <div class="contenedor d-flex flex-wrap">
                            <div class="caja">
                                <h3>15,263</h3>
                                <p>Visitas</p>
                            </div>
                            <div class="caja">
                                <h3>1,831</h3>
                                <p>Registros</p>
                            </div>
                            <div class="caja">
                                <h3>$160,545</h3>
                                <p>Ingresos</p>
                            </div>
                        </div>
                    </div>
                    <!-- Widget Comentarios -->
                    <div class="widget comentarios">
                        <h3 class="titulo">Comentarios</h3>
                        <div class="contenedor">
                            <div class="comentario d-flex flex-wrap">
                                <div class="foto">
                                    <a href="#">
                                        <img src="./../../../assets/img/persona1.jpg" alt="" width="100px">
                                    </a>
                                </div>

                                <div class="texto">
                                    <a href="#">John Doe</a>
                                    <p>en <a href="#">Mi primera entrada</a></p>
                                    <p class="texto-comentario">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque veritatis vel sapiente quis quam asperiores debitis. Excepturi a voluptatum perspiciatis.</p>
                                </div>
                                
                                <div class="botones d-flex justify-content-start flex-wrap w-100">
                                    <button class="aprobar">
                                        <i class="bi bi-check-lg"></i>
                                        Aprobar 
                                    </button>
                                    <button class="eliminar">
                                        <i class="bi bi-trash-fill"></i>
                                        Eliminar 
                                    </button>
                                    <button class="bloquear">
                                        <i class="bi bi-x-lg"></i>
                                        Bloquear 
                                    </button>
                                </div>
                            </div>

                            <div class="comentario d-flex flex-wrap">
                                <div class="foto">
                                    <a href="#">
                                        <img src="./../../../assets/img/persona2.jpg" alt="" width="100px">
                                    </a>
                                </div>

                                <div class="texto">
                                    <a href="#">John Doe</a>
                                    <p>en <a href="#">Mi primera entrada</a></p>
                                    <p class="texto-comentario">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque veritatis vel sapiente quis quam asperiores debitis. Excepturi a voluptatum perspiciatis.</p>
                                </div>
                                
                                <div class="botones d-flex justify-content-start flex-wrap w-100">
                                    <button class="aprobar">
                                        <i class="bi bi-check-lg"></i>
                                        Aprobar 
                                    </button>
                                    <button class="eliminar">
                                        <i class="bi bi-trash-fill"></i>
                                        Eliminar 
                                    </button>
                                    <button class="bloquear">
                                        <i class="bi bi-x-lg"></i>
                                        Bloquear 
                                    </button>
                                </div>
                            </div>

                            <div class="comentario d-flex flex-wrap">
                                <div class="foto">
                                    <a href="#">
                                        <img src="./../../../assets/img/persona3.jpg" alt="" width="100px">
                                    </a>
                                </div>

                                <div class="texto">
                                    <a href="#">John Doe</a>
                                    <p>en <a href="#">Mi primera entrada</a></p>
                                    <p class="texto-comentario">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque veritatis vel sapiente quis quam asperiores debitis. Excepturi a voluptatum perspiciatis.</p>
                                </div>
                                
                                <div class="botones d-flex justify-content-start flex-wrap w-100">
                                    <button class="aprobar">
                                        <i class="bi bi-check-lg"></i>
                                        Aprobar 
                                    </button>
                                    <button class="eliminar">
                                        <i class="bi bi-trash-fill"></i>
                                        Eliminar 
                                    </button>
                                    <button class="bloquear">
                                        <i class="bi bi-x-lg"></i>
                                        Bloquear 
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>